simroel-py-v3/__pycache__
simroel-py-v3/data/fiber_config/__pycache__
simroel-py-v3/files/__pycache__
simroel-py-v3/venv
simroel-py-v3/auxiliar/__pycache__
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/simroelfix.iml
.idea/vcs.xml
simroel-py-v3/.idea/misc.xml
simroel-py-v3/.idea/simroel-py-v4.iml
simroel-py-v3/.idea/vcs.xml
simroel-py-v3/__pycache__/main.cpython-312.pyc
simroel-py-v3/auxiliar/__pycache__/constants.cpython-312.pyc
simroel-py-v3/auxiliar/__pycache__/functions.cpython-312.pyc
simroel-py-v3/core/__pycache__/fes.cpython-311.pyc
simroel-py-v3/core/__pycache__/fes.cpython-312.pyc
simroel-py-v3/core/__pycache__/pcc.cpython-311.pyc
simroel-py-v3/core/__pycache__/pcc.cpython-312.pyc
simroel-py-v3/core/__pycache__/pce.cpython-312.pyc
simroel-py-v3/core/__pycache__/pcep.cpython-311.pyc
simroel-py-v3/core/__pycache__/pcep.cpython-312.pyc
simroel-py-v3/core/__pycache__/simulation.cpython-311.pyc
simroel-py-v3/core/__pycache__/simulation.cpython-312.pyc
simroel-py-v3/crosstalk/__pycache__/crosstalk_main.cpython-312.pyc
simroel-py-v3/crosstalk/__pycache__/crosstalk_utils.cpython-312.pyc
simroel-py-v3/data/fiber_config/__pycache__/mcf_config.cpython-312.pyc
simroel-py-v3/data/parameters.json
simroel-py-v3/files/__pycache__/file_manager.cpython-312.pyc
simroel-py-v3/files/__pycache__/parameters.cpython-312.pyc
simroel-py-v3/main.py
simroel-py-v3/osnr/__pycache__/osnr_main.cpython-312.pyc
simroel-py-v3/osnr/__pycache__/osnr_utils.cpython-312.pyc
simroel-py-v3/routing/__pycache__/router.cpython-312.pyc
simroel-py-v3/utils/__pycache__/assignment.cpython-312.pyc
simroel-py-v3/utils/__pycache__/connection.cpython-312.pyc
simroel-py-v3/utils/__pycache__/fiber.cpython-312.pyc
simroel-py-v3/utils/__pycache__/modulation.cpython-312.pyc
simroel-py-v3/utils/__pycache__/stats.cpython-312.pyc
simroel-py-v3/.idea/simroel-py-v4.iml
/venv
