/*Css da parte fixa da pagina*/
.title{
    background-color: #b3c0bc;
    text-align: center;
    padding: 20px;
    font-size:35px;
    text-shadow: 2px 4px 5px #645f5f;
    border: 2px solid #cccccc;
    border-radius: 20px;
}
.parameters{
    background-color: #c8e9e3;
    padding: 20px;
    font-size:20px;
    text-shadow: 2px 4px 5px #ad9b9b;
}
.tab{
    overflow: hidden;
    border: 1px solid #f0e6e6;
    background-color: #ebdede;
}
.tablinks{
    background-color: #6a7271; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 20px;
    box-shadow: 2px 4px 5px #000;
    width: 400px;  
}
.Button{
    background-color: #a0a7a6; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 20px;
    box-shadow: 2px 4px 5px #000;
    width: 200px; 
    position: fixed;
    bottom: 30px;
    right: 20px;
}
